{{ ansible_managed | comment }}

# The following is the token of the Dashboard Service Account to log into the Dashboard:

###------ TOKEN OUTPUT ------###

{{ _kubernetes_admin_token['stdout'] }}

###------ TOKEN OUTPUT END ------###
